@use '@/shared/config/colors' as colors;

.sign-in-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    &__title {
        font-size: 2rem;
        color: colors.$title-text-color;
    }

    &__divider {
        font-size: 1rem;
        color: colors.$text-color;
    }
}