@use "sass:color";
@use '@/styles/colors' as colors;

.todo {
    max-width: 100%px;
    margin: 40px auto;
    padding: 20px;
    background: colors.$secondary-color;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
    text-align: center;

    &__title {
        font-size: 24px;
        color: colors.$primary-color;
        margin-bottom: 20px;
    }

    &__input-container {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
    }

    &__input {
        flex: 1;
        padding: 10px;
        font-size: 16px;
        border: 2px solid colors.$primary-color;
        border-radius: 5px;
        outline: none;

        &:focus {
            border-color: color.adjust(colors.$primary-color, $lightness: -10%);
        }
    }

    &__button {
        padding: 10px 15px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s ease;

        &_add {
            background: colors.$primary-color;
            color: colors.$secondary-color;

            &:hover {
                background: color.adjust(colors.$primary-color, $lightness: -10%);
            }
        }
    }

    &__list {
        list-style: none;
        padding: 0;
    }

    &__empty-message {
        font-size: 18px;
        color: colors.$text-color;
        margin-top: 20px;
    }
}