@use '@/shared/config/colors' as colors;

.home {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  background: colors.$background-color;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);

  &__title {
    font-size: 2rem;
    color: colors.$title-text-color;
  }

  &__description {
    margin-top: 10px;
    font-size: 1.2rem;
    color: colors.$text-color;
  }

  &__list {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    font-size: 1rem;
  }

  &__list-item {
    background: #fff;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  }
}