$background-color: #f9f9f9;
$background-todo-color: #f4f4f4;
$background-navigation-color: #2c3e50;

$blog-item-border-color: #ddd;
$blog-title-color: #0070f3;

$signup-button-color: #007bff;
$signup-button-hover-color: #0056b3;

$google-button-color: #db4437;
$google-button-hover-color: #c1351d;

$primary-color: #4caf50;
$secondary-color: white;
$danger-color: #e74c3c;

$title-text-color: #333;
$text-color: #666;