@use '@/styles/colors' as colors;

.sign-in-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 8px;
    background-color: colors.$background-color;
    box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
    max-width: 400px;
    width: 100%;

    &__input {
        padding: 0.8rem;
        border: 1px solid colors.$blog-item-border-color;
        border-radius: 4px;
        font-size: 1rem;
    }

    &__button {
        padding: 0.8rem;
        background-color: colors.$signup-button-color;
        color: colors.$secondary-color;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
            background-color: colors.$signup-button-hover-color;
        }
    }

    &__error {
        color: colors.$danger-color;
        font-size: 0.9rem;
        text-align: center;
        margin-top: 0.5rem;
    }
}