@import '@/styles/colors';

.blog-item {
    padding: 10px;
    border: 1px solid $blog-item-border-color;
    border-radius: 4px;
    transition: background 0.2s ease;

    &:hover {
        background: $background-color;
    }

    &__title {
        font-size: 18px;

        a {
            text-decoration: none;
            color: $blog-title-color;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}